body {
    background-color: whitesmoke;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.fizzBlock {
    padding: 10px 20px 10px 10px;
    border-radius: 15px; 
    background-color: darkcyan;
    color: white;
}